page-explore {
    ion-thumbnail {
        img {
            margin: 10px auto;
            width: 120px;
            height: 120px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
    }
}
