page-list {
    .content-md {
        background: #333333;
    }

    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #333333;
    }
 
    .thumb-img {
        padding: 10px;
    }
}