page-profile-settings {
    ion-card {
        text-align: center;
    }

    ion-card-header {
        img {
            margin: 10px auto;
            width: 120px;
            height: 120px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
        
        canvas {
            float: left;
            margin: 10px auto;
        }
    }

}
