<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="blurry-background">
  <img src="assets/img/1.jpg">
</ion-content>

<ion-content padding>
  <ion-card *ngIf="changingImage" >
    
    <ion-card-header>
      <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </ion-card-header>

    <ion-card-content>
      <br/><br/>
      <button ion-button block clear (click)="saveProfileImage()">
        Save Image
      </button> 
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="!changingImage">

    <ion-card-header>
      <!--<img src="http://via.placeholder.com/150x150" (click)="uploadImage()">-->
      <img src="{{srcpath}}" id="image" (click)="uploadImage()">
    </ion-card-header>

  </ion-card>

</ion-content>
